@tailwind base;
@tailwind components;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components {
  .profile-nav-btn {
    @apply w-full flex justify-center py-2 border-b-2 cursor-pointer transition duration-300 ease-in-out active:border-blue-900;
  }
  .footerIcon{
    @apply w-12 cursor-pointer flex flex-col justify-center items-center
  }
}

@tailwind utilities;
@tailwind variants;
